@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

:root {
    --make-svg-gray: invert(58%) sepia(12%) saturate(0%) hue-rotate(211deg) brightness(93%) contrast(91%);
    --make-svg-red: invert(24%) sepia(38%) saturate(5794%) hue-rotate(347deg) brightness(99%) contrast(102%);
    --make-svg-black: invert(0%) sepia(93%) saturate(0%) hue-rotate(327deg) brightness(91%) contrast(107%);
}

.file-view {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.file-view .file-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-view p {
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    max-width: 150px;
}

.file-view-text-container {
    /* Define maximum text dimensions */
    width: 150px;
    height: 55px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

p.tooltip {
    text-align: center;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowing content */
    text-overflow: ellipsis;
    /* Show ellipsis for truncated text */
    margin: 0;
    /* Remove default margin for better styling */

    display: flex;
    flex-direction: column;
}

.tooltip span {
    /* When not hovered */
    visibility: hidden;

    /* tool tip design*/
    background-color: #d8e7a6;
    color: black;
    z-index: 2;
    text-align: center;
    border-radius: 6px;
    margin-top: 10px;

    /* Handling text wrap */
    word-wrap: break-word;
    max-width: 150px;
    white-space: wrap;
    display: inline-block;
    position: absolute;
}

.tooltip:hover span {
    visibility: visible;
}

.file-view img {
    width: 128px;
    height: 128px;
}

.filter-icon {
    transition: transform 0.3s ease-in-out;
}

.filter-icon:hover:not(.selected-file) {
    transform: scale(1.2);
}

.file-view .file-view-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.file-view .file-view-buttons img {
    width: 24px;
    height: 24px;
    padding: 5px 0;
    cursor: pointer;
}

.query-list {
    /* Turn black */
    filter: var(--make-svg-black);
}

.query-list.no-queries {
    /* Turn gray */
    filter: var(--make-svg-gray);
}

.delete {
    /* Turn red */
    filter: var(--make-svg-red);
}