.file_tree_container {
    width: 70%;
}

.file_tree {
    list-style-type: none;
    padding: 0;
}

.li_wrapper {
    display: flex;
    flex-direction: row;
    align-items: left;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.item-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 8px;
}

.delete-button {
    filter: invert(24%) sepia(38%) saturate(5794%) hue-rotate(347deg) brightness(99%) contrast(102%);
}