.file_tree {
    list-style-type: none;
    padding: 0;
}

.li_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.delete-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 8px;
}

.item_text {
    flex-grow: 1;
    min-width: 0;
}