<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/drop_zone_styles.css" />
    <title>File dropper</title>
  </head>
  <body>
    <title>Example file dropper</title>
    <!-- Use the custom drop-zone element directly -->
    <div class="drop-zone-container">
      <drop-zone id="dropzone_main_page"></drop-zone>
    </div>
    <script src="../static/javascripts/drop_zone.js"></script>
  </body>
</html>
