<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/drop_zone_styles.css" />
    <title>File dropper</title>
  </head>
  <body>
    <title>Example file dropper</title>
    <!-- Use the custom DragAndDropZone element directly -->
    <drag-zone id="dragzone_main_page" class="drag-zone"></drag-zone>
    <script src="../static/javascripts/drop_zone.js"></script>
  </body>
</html>
