.tooltip {
    position: relative;
    cursor: pointer;
}

#tooltip {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: block;
    word-wrap: break-word;
}

.hidden {
    display: none;
}