<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <title>Select a file</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/clickable_icon_stack.css') }}" />
  </head>
  <body>
    <h1>Select a file</h1>
    <p>place holder</p>
    <div class="wrapper_sticks_to_bottom_right">
      <div class="clickable_icon_stack">
        <img id="upload" class="clickable_icon" src="{{ url_for('static', filename = 'images/upload_icon.svg') }}" alt="Upload icon" />
        <img id="save" class="clickable_icon" src="{{ url_for('static', filename = 'images/save_icon.svg') }}" alt="Save icon" />
      </div>
    </div>
  </body>
</html>
