/* TODO: when filter pane opens the window gets stretched, this is uncouth, fix this*/

:root {
    --items_in_row: 4;
    --grid_row_gap: 10px;
}

body,
html {
    height: 100%;
    width: 100%;
}

.files-and-drag-zone-container {
    height: 99%;
    width: 99%;
}

.files-folder {
    display: grid;
    position: relative;
    grid-template-columns: repeat(var(--items_in_row), 1fr);
    grid-gap: var(--grid_row_gap);
    overflow-y: auto;
}

/* The following code ensures that every nth item starts a new row */
.files-folder>*:nth-child(var(--items_in_row)n) {
    grid-column: 1 / span var(--items_in_row);
}