<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/drop_zone_styles.css" />
    <link rel="stylesheet" href="../static/styles/file_container_styles.css" />
    <link rel="stylesheet" href="../static/styles/file_view_styles.css" />
    <title>File folder view</title>
  </head>
  <body>
    <div class="files-and-drag-zone-container">
      <drop-zone>
        <div class="files-folder"></div>
      </drop-zone>
    </div>
    <script type="module" src="../static/javascripts/drop_zone.js"></script>
    <script type="module" src="../static/javascripts/file_container_handler.js"></script>
    <script type="module" src="../static/javascripts/filter.js"></script>
    <script type="module" src="../static/javascripts/common.js"></script>
  </body>
</html>
