body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

drag-zone {
    width: 80%;
    height: 80%;
    border: 2px dashed #aaa;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    opacity: 0;
    /* Set initial opacity to make it partially transparent */
    transition: opacity 0.3s ease;
    /* Add a smooth transition for opacity changes */
}

drag-zone.dragover {
    opacity: 1;
    /* Set opacity to 1 when the file is dragged over */
    border-color: #333;
}

drag-zone::before {
    content: 'Drag file here';
    position: absolute;
    color: #555;
}