body {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100%;
    width: 100%;
}


.drag-zone-container {
    height: 50%;
    width: 50%;
}

.drag-zone {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px dashed #aaa;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    /* Set initial opacity to make it partially transparent */
    transition: opacity 0.3s ease;
    /* Add a smooth transition for opacity changes */
}

drag-zone.dragover {
    opacity: 1;
    /* Set opacity to 1 when the file is dragged over */
    border-color: #333;
}

drag-zone::before {
    content: 'Drag file here';
    position: absolute;
    color: #555;
}